@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}


/*Navigation css section*/
nav {
	background: linear-gradient(141deg, #cbcfce 0%, #d2d4d4 30%);
	text-align: center;
	position: sticky;
	top: 0px;
}

nav a:hover {
	text-decoration: underline;
}

/*end of navigation section*/




p {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}

h1.title {
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', - Ubuntu, sans-serif;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 10px;
	letter-spacing: 5px;
}


.btn a {
	display: block;
	width: 180px;
	height: 35px;
	border: 2px solid #3B2EC8;
	line-height: 35px;
	margin: 25px auto 0;
	color: #3B2EC8;
	text-align: center;
	text-decoration: none;
}

/*
.bt {
	align-self: center;
}*/

.bt a {
	color: #f8f9fa;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 16px 40px;
	border-radius: 5%;
	display: inline-block;
	font-weight: 500;
	transition: all .4s ease-in-out;
	background: #3B2EC8;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	/*background-size: 152% 100%;*/
	text-decoration: none;
}

.bt:hover {
	background: transparent;
	border-color: #9EB5F4;
	color: #47a2df;
}


.banner_content .btn {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 16px 40px;
	border-radius: 500px;
	display: inline-block;
	font-weight: 500;
	transition: all .4s ease-in-out;
	background-size: 152% 100%;
	background: #3963f0;
	border: 2px solid #3963f0;
}

.banner_content .btn:hover {
	background: transparent;
	border-color: #4787fd;
	color: #4787fd;
}



/* Banner Image*/
.banner_image {
	background: url(images/img5.jpg);
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content {
	text-align: center;
	color: #03418c;
	font-weight: 100;
	font-family: -apple-system, Ubuntu, sans-serif;
}

.banner_content h1 {
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 25px;
}


.banner_content h1 span {
	color: #03418c;
}


/*.banner_content a {
	background: linear-gradient(120deg, #0d2e75 20.69%, #1c4d97 50.19%,#17a0c2 79.69%, #bdddf3 98.75%);
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }*/

@media screen and (min-width: 601px) {
	div.banner_content {
		font-size: 80px;
	}

	.banner_image {
		width: 100%;
		height: 600px;
	}
}

@media screen and (max-width: 600px) {
	div.banner_content {
		font-size: 30px;
	}
}





/* About us */
.about,
.projects,
.news,
.contactus {
	padding: 5% 10%;
	text-align: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}



.about img {
	height: 500px;
	width: 500px;
	padding: 20px;
	animation: slideDown ease .4s forwards .6s;
	opacity: 0;
	border-radius: 20%;
}

@keyframes slideDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-40px);
		opacity: 1;
	}
}


.about p {
	font-family: Ubuntu, sans-serif;
	font-size: 20px;
	padding-top: 50px;
	text-align: left;
	margin-bottom: 15px;
	line-height: 35px;
	color: #a9a9a9;
	text-decoration: none;
	word-spacing: 5px;
	animation: slideUp ease .5s forwards 1.2s;
	opacity: 0;

}

@keyframes slideUp {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-40px);
		opacity: 1;
	}
}




/* project css section */

#projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: linear-gradient(to right, whitesmoke, #c7d0ee, whitesmoke);
}

.container-fluid .card {
	position: relative;
	width: clamp(20rem, calc(15rem + 2vw), 20rem);
	height: 500px;
	border-radius: 15px;
	margin: 20px;
	transition: 0.5s;
}

a {
	text-decoration: none;
}


.container-fluid .card .box {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: url(images/pinkjpeg);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s;
}

.container-fluid .card .box:hover {
	transform: translateY(-50px);
}

/*
.container-fluid .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: blue);
}
*/
.container-fluid .card .box .content {
	padding: 10px;
	text-align: center;
}


.container-fluid .card .box .content h2 {
	font-size: 2rem;
	color: rgb(112, 199, 221);
	z-index: 1;
	transition: 2s;
	margin-bottom: 15px;
}

.container-fluid .card .box .content p {
	font-size: 1rem;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	z-index: 1;
	transition: 0.5s;
}

.container-fluid .card .box .content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: rgb(16, 156, 156);
	border-radius: 5px;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.container-fluid .card .box .content a:hover {
	box-shadow: 0 10px 20px rgba(170, 191, 206, 0.6);
	background: #fff;
	color: rgb(213, 224, 230);
}


/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {

	.container-fluid .card {
		position: relative;
		min-width: 100%;
		height: 100%;
		border-radius: 15px;
		margin: 10px;
		transition: 0.5s;
	}

	.container-fluid .card .box .content {
		padding: 5px;
		text-align: center;
	}


	.container-fluid .card .box .content h2 {
		font-size: 1.8rem;
		color: rgb(112, 199, 221);
		z-index: 1;
		transition: 2s;
		margin-bottom: 15px;
	}

	.container-fluid .card .box .content p {
		font-size: 1%;
		font-weight: 150;
		color: rgba(255, 255, 255, 0.9);
		z-index: 1;
		transition: 0.5s;
	}
}

@media screen and (max-width: 900px) {
	.container-fluid .card {
		position: relative;
		min-width: 300px;
		height: 350px;
		border-radius: 15px;
		margin: 20px;
		transition: 0.5s;
	}

	.container-fluid .card .box .content {
		padding: 10px;
		text-align: center;
	}


	.container-fluid .card .box .content h2 {
		font-size: 2rem;
		color: rgb(112, 199, 221);
		z-index: 1;
		transition: 2s;
		margin-bottom: 15px;
	}

	.container-fluid .card .box .content p {
		font-size: 1rem;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.9);
		z-index: 1;
		transition: 0.5s;
	}
}


@media screen and (max-width: 760px) {
	.flex {
		display: grid;
		place-items: center;
		background: white;
		background: linear-gradient(to right, #b8cdec, #98d6e0, #a5a5df);
	}

	.container-1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 700px;
		margin-block: 1rem;
		gap: 1rem;
	}

}


@media screen and (max-width: 500px) {
	.container-fluid .card {
		position: relative;
		min-width: 300px;
		height: 350px;
		border-radius: 15px;
		margin: 20px;
		transition: 0.5s;
	}

	.container-fluid .card .box .content {
		padding: 10px;
		text-align: center;
	}


	.container-fluid .card .box .content h2 {
		font-size: 2rem;
		color: rgb(112, 199, 221);
		z-index: 1;
		transition: 2s;
		margin-bottom: 15px;
	}

	.container-fluid .card .box .content p {
		font-size: 1rem;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.9);
		z-index: 1;
		transition: 0.5s;
	}
}

@media screen and (max-width: 450px) {
	.container-fluid .card {
		position: relative;
		min-width: 300px;
		height: 350px;
		border-radius: 15px;
		margin: 20px;
		transition: 0.5s;
	}

	.container-fluid .card .box .content {
		padding: 10px;
		text-align: center;
	}

	.container-fluid .card .box .content h2 {
		font-size: 2rem;
		color: rgb(112, 199, 221);
		z-index: 1;
		transition: 2s;
		margin-bottom: 15px;
	}

	.container-fluid .card .box .content p {
		font-size: 1rem;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.9);
		z-index: 1;
		transition: 0.5s;
	}
}


/* News css section  */
/* News css section  */
.flex,
.flex::before,
.flex::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.flex {
	display: grid;
	place-items: center;
	background: white;
	background: linear-gradient(to right, #b1cdf7, #f0f4f5, #dedefa);
}

.container-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin-block: 2rem;
	gap: 3rem;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

.card-one {
	display: flex;
	flex-direction: column;
	width: clamp(15rem, calc(10rem + 2vw), 15rem);
	overflow: hidden;
	border-radius: 1em;
	background: linear-gradient(to right, #faf6f6, #f2f8f8);
}

.card__body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card__body h4 {
	font-size: 1.5rem;
	text-transform: capitalize;
}

/*media for the News section


/end of cards section*/




/* Contact Us */
.form_input {
	margin-bottom: 15px;

}

.contactus {
	margin-top: 20px;
}

.form_input input[type="text"] {
	width: 250px;
	padding: 12px 20px;
	border: 1px solid #ccc;
}

.form_input textarea {
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}

.contactus {
	align-self: center;
}

.contactus img {
	width: 600px;
	height: fit-content;
}

/* footer 
.footer {
	width: 100%;
	justify-content: center;
	background: #444444;
	padding: 20px 0;

}

.footer-title {
	
	position: relative;
	font-size: 20px;
	color: white;
	
}

.footer a {
	color: #fff;
}*/

@media (max-width: 720px) {
	.navbar {
		height: auto;
		flex-direction: column;
	}

	.navbar ul {
		flex-direction: column;
		text-align: center;
	}

	/* make margin-left 500px for logo to always be at the right*/
	.logo {
		margin-bottom: 25px;
		margin-left: 800px;
	}

	.navbar ul li {
		margin-bottom: 5px;
	}

	.banner_content {
		margin-top: 35px;
	}

	.about img {
		height: 200px;
		width: 200px;
	}

	.about p {
		font-size: 13px;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 20px;
		color: #a9a9a9;
	}

}

@media (max-width: 1080px) {
	.about img {
		height: 300px;
		width: 300px;
		display: none;
	}

	.about p {
		text-align: center;
	}

	.contactus img {
		display: none;
	}

	.about,
	.projects,
	.news,
	.contactus {
		padding: 10% 10%;
		text-align: center;
		background-size: cover;
		width: 100%;
		height: 100%;
		/*display: flex;*/
		justify-content: center;
		align-items: center;
	}

	h1.title {
		margin-bottom: 20px;
		color: #444444;
		font-family: 'Allura', - Ubuntu, sans-serif;
		text-transform: uppercase;
		font-size: 30px;
		word-spacing: 20px;
		letter-spacing: 2px;
	}

	.diff_project_item h3 {
		color: #1070a3;
		margin-bottom: 15px;
		font-size: 20px;
	}
}

/* ipad view*/
@media (max-width: 930px) {

	.about p {
		font-size: 13px;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 25px;
		color: #a9a9a9;
	}
}

/* footer */



/* Add a hover effect
.fa:hover {
	opacity: 0.7;
}

/* Set color for each brand 

/*Facebook 
.fa-facebook {
	/*background: #3B5998;
	color: white;
}*/

 Twitter 
.fa-twitter {
	color: white;
}

/* github 
.fa-github {
	/*	background: #101111;
	color: white;
 } */


#myBtnn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #3B2EC8;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 50px;
	font-size: 16px;
}

#myBtnn:hover {
	background-color: #9EB5F4;
}


.arrow {
	border: solid rgb(2, 59, 105);
	border-width: 0 8px 8px 0;
	display: none;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}