body {
  direction: ltr;
  text-align: left;
  font-family: 'Share Tech', sans-serif;
	background-color: #1a1919;
	color: #FFFFFF;
}

body[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

body[dir="rtl"] .navbar-nav {
  flex-direction: row-reverse;
}

body[dir="rtl"] .container {
  padding-right: 20px;
  padding-left: 0;
}

body[dir="rtl"] h1, body[dir="rtl"] h3 {
  text-align: right;
}

  /* =================== navbar =================== */
	.custom-toggler {
	  border: none; 
	  padding: 0.25rem 0.5rem; 
	  font-size: 0.8rem; 
	}

  .fab {
    color: #edf2f6;
  }
  
	.custom-toggler:focus {
	  box-shadow: none; 
	}
  
	.navbar-toggler-icon {
	  width: 1.2rem;
	  height: 1.2rem;
	}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content button {
    padding: 8px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
  }
  

  @media (max-width: 991.98px) {
    .navbar-collapse {
      background-color: #333;
      width: 50%;
      max-width: 100px;
      position: absolute;
      top: 100%;
      left: 80%;
      right:10%;
      transform: translateX(-50%);
      z-index: 999;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  
    .navbar-nav .nav-link {
      color: #fff;
      font-size: 14px;
      line-height: 1
    }
  
    .navbar-nav .nav-link:hover {
      color: rgb(238, 172, 19);
    }
  
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin: 10px 0;
    }
  
    .navbar-brand img {
      width: 30px;
    }
  
    .navbar-toggler {
      z-index: 1000;
    }
  }
  
  /* ======= landing page========================= */
.landing-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 6rem;
  font-weight: 700;
}

.landing-page h4 {
  font-size: 1.5rem;
  align-items: start;
  margin-bottom: 20px; 
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 3rem;
  }
  .landing-page h4{
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 2rem;
  }
  .landing-page h4{
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

  /* ========= project ================== */
  .card {
	background-color: #3A3A3A;
	border: none;
	margin-bottom: 20px;
  }
  .card-title, .card-text {
	color: #FFFFFF;
  }

  /* =============== blog ================= */
  .blog-section {
	margin-top: 50px;
  }

  h3{ color: forestgreen;}

  /* ================= footer section ================= */
  footer {
    padding: 20px 0;
    }
    footer a {
    color: #FFFFFF !important;
    }

  footer {
    background-color: #000000;
    }

  @media (max-width: 768px) {
    footer h6 {
      font-size: 0.5rem; 
    }

    footer a {
      font-size: 0.60rem;
    }

    footer i {
      font-size: 1rem;
    }

    footer hr {
      width: 100%;
    }
  }


